<h1>Please add a definition for <%=@word%></h1>


<form action="/newdefinition/<%= @id %>" method="post">
  <div class="form-group">
    <label for="definition">Definition:</label>
    <input type="text" name="definition">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
