<h1>Word entry</h1>

<form action="/results">
  <div class="form-group">
     <label for="word">Please enter a word:
     </label>
     <input id="word" name="word" class="form-control" type="text">
    </br>
    </br>
    </br>
    </br>


  </div>

    </br>
    </br>

  <button type="submit" class="btn-success">Send</button>
</form>
