<h1>Word entry</h1>

<form action="/addword" method='post'>

  <div class="form-group">
    <label for="name">Please enter a word:</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit" class="btn-success">Add word</button>

</form>
