  <h1>Dictionary Ogawa</h1>


    <h2>Current words: </h2>
      <ul>
      <% @words.each do |word|%>
        <li><a href="/word/<%= word.id %>"><%= word.name%></a></li>
      <% end %>
      </ul>

  <br>

  <a class='footer' href="/addword">Add word</a>
