<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dictionary</title>

    <link rel='stylesheet' href='css/styles.css'>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

  </head>
  <body>
    <div class="container orange">
      <%= yield %>
    </div>
    <footer class="bottom" align= 'center'>Made by <a href="https://www.github.com/pogawa">Paul O</a> </footer>

  </body>

</html>
